<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <style media="screen">
        table{
            margin: auto;
        }
        table, th, td {
            padding: 10px 40px 10px 40px;
            border: 1px solid black;
            border-collapse: collapse;
        }


        </style>
        <title></title>
    </head>
    <body>
        <table dir="rtl">
            <tr>
                <th>نام تمرین</th>
                <th>تاریخ آخرین ارسال</th>
                <th>ارسال پاسخ</th>
                <th>نمره ثبت شده</th>
            </tr>
            <tr>
                <td>تمرین سری اول</td>
                <td id="11">1</td>
                <td id="12"></td>
                <td id="13"></td>
            </tr>
            <tr>
                <td>تمرین سری دوم</td>
                <td id="21"></td>
                <td id="22"></td>
                <td id="23"></td>
            </tr>
            <tr>
                <td>تمرین سری سوم</td>
                <td id="31"></td>
                <td id="32"></td>
                <td id="33"></td>
            </tr>
        </table>
    </body>
</html>
